#teclado{
    width: 16em;
}

#numbers{
    float: left;
    width:12em;
}

#operacoes{
    width: 3em;
    float: right;
}

#resultado{
    background-color: lightblue;
}

.btn-outline-light{
    margin: 1px;
    width: 55px;
    height: 55px;
}