<div id="teclado">
    <div id="resultado"><h1 id="textoResultado"> {{ textoConta }} </h1> </div>


    <div id="numbers">
        <app-botao *ngFor="let number of numbers" [numero]="number" (mudouValor)="novaExpressao($event, false)">
        </app-botao>
    </div>

    <div id="operacoes">
        <app-botao-funcao 
        *ngFor="let operacao of operacoes" 
        [sinal]="operacao.valor"
        [textoSinal]="operacao.textoBotao" 
        (adicionarSinal)="novaExpressao($event, true)">
        </app-botao-funcao>   
    </div>

    </div>